{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parent Signup</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
              color3: "rgb(191 161 122 / 61%)",
            },
            fontFamily: {
              lemon: ["lemon"],
              error: ["error"],
              title: ["title"],
            },
          },
        },
      };
    </script>
    <style>

      input:-webkit-autofill {
        /* background-color: red !important; 
        color: #000 !important;           */
        border-top: 1px solid #353535 !important;  
        border-right: 1px solid #353535 !important; 
        border-left: 1px solid #353535 !important;  
       
        box-shadow: 0 0 0px 1000px #353535 inset !important; 
      }
      div , button {
            font-family: "El Messiri";
          }
      
          @layer base {
            @font-face {
              font-family: "El Messiri";
              font-style: normal;
              font-weight: 400;
              font-display: swap;
              src: url(../fonts/ElMessiri-VariableFont_wght.ttf) format("ttf");
            }
          }
        </style>
  </head>

  <body class="bg-[#f2f2f2] flex justify-center overflow-hidden">
    <div class="flex justify-between items-center  w-[100%] " dir="rtl">
      <div
        dir="rtl"
        class="w-[50%]  bg-[#353535]  h-[100vh] flex justify-center items-center"
      >
       


      <!-- THIS IS THE MAIN ONE -->
      <form  method="post" action="{% url 'parent_signup' %}" id="mainForm" style="display: inline;" novalidate>
         {% csrf_token %}


        


         <input type="hidden" name="current_stage" value="{{ stage }}">

          <!-- Stage 1: Email Input -->
          {% if stage == 1 %}
            <div class="my-5 gap-10 grid " >
                <div>
                  <div class="flex items-end ">
                    <span class="material-icons text-[45px] text-[#fca311] ml-1 relative top-[8px]">
                      email
                    </span>
                    <div class="relative border-b-[3px] border-white w-[480px]">
                      <input
                        type="email"
                        name="email"
                        class="email w-[350px] text-white peer py-4 px-0 block border-none bg-transparent border-t-transparent border-b-2 border-x-transparent border-b-transparent text-sm placeholder:text-transparent focus:border-t-transparent focus:border-x-transparent focus:ring-0 disabled:opacity-50 disabled:pointer-events-none white:border-b-neutral-700 dark:text-white white:focus:ring-neutral-600 white:focus:border-b-neutral-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
                        placeholder="لطفا ایمیل خود را وارد کنید"
                       
                      />
                      {% if errors.email %}
                        <p class="text-white">{{ errors.email }}</p>
                      {% endif %}
                      <label
                        for="email"
                        class="absolute top-[-10px] start-0 py-4 px-0 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-white white:peer-focus:text-neutral-500 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-gray-500 white:peer-[:not(:placeholder-shown)]:text-gray-500"
                      >
                        ایمیل
                      </label>
                    </div>
                  </div>

                  {% if messages %}
                    {% for message in messages %}
                      {% if "email" in message.message %}
                        <p class="text-white text-[12px] mt-2">{{ message }}</p>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  {% comment %} {% if form.errors %}
                    <ul>
                      {% for field, errors in form.errors.items %}
                        <li class="text-red-600">{{ errors|join:", " }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %} {% endcomment %}
                   <!-- Error message for email field -->
                  {% comment %} <p class="text-white text-[12px] relative right-[50px] mt-4" id="emailError">
                      {% if form.email.errors %}
                          {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      {% endif %}
                  </p>  {% endcomment %}
                </div>
            </div>
          {% endif %}

              <!-- Stage 2: Verification Code Input -->
          {% if stage == 2 %}
              <div class="grid gap-10 pageCodeEmail">
                <div>
                  <div class="flex items-end ">
                    <span class="material-icons text-[45px] text-[#fca311] ml-1 relative top-[8px]">
                    email
                    </span>
                  <div class="relative border-b-[3px] border-white w-[480px]">
                    <input 
                    type="email" 
                    name="email"
                    value="{{ request.session.email }}"
                    class=" email w-[350px] text-white peer py-4 px-0 block border-none bg-transparent border-t-transparent border-b-2 border-x-transparent border-b-transparent text-sm placeholder:text-transparent focus:border-t-transparent focus:border-x-transparent focus:ring-0 disabled:opacity-50 disabled:pointer-events-none dark:border-b-neutral-700 dark:text-white white:focus:ring-neutral-600 dark:focus:border-b-neutral-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
                    placeholder="لطفا ایمیل خود را وارد کنید" />
                    {% if errors.verification_code %}
                      <p class="text-red-600">{{ errors.verification_code }}</p>
                    {% endif %}
                  <label for="email"
                    class=" absolute top-[-10px] start-0  py-4 px-0 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-white dark:peer-focus:text-neutral-500 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-gray-500 dark:peer-[:not(:placeholder-shown)]:text-white">
                    ایمیل
                    </label>
                  
                  </div>
                    </div>
                  </div>
                  <div>
                    <div class="relative">
                      <div class="flex items-end">
                        <span class="material-icons text-[45px] text-[#fca311] ml-1 relative top-[2px]">
                            lock
                          </span>  
                      <div
                        class="flex justify-between items-center border-b-[3px] border-white w-[480px]"
                      >
                      <input type="text" name="verification_code"
                      class=" codeEmailInput text-white border-none selection input  peer py-4 px-0 block w-full bg-transparent border-t-transparent border-b-transparent border-x-transparent text-sm placeholder:text-transparent focus:border-t-transparent focus:border-x-transparent focus:border-b-transparent focus:ring-0 disabled:opacity-50 disabled:pointer-events-none dark:focus:border-b-transparent focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
                      placeholder="" required/>
                    <label for="verification_code"
                      class="top-[-10px] absolute  py-4 px-0 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent origin-[0_0] text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:scale-90 peer-focus:translate-x-0.5 peer-focus:-translate-y-1.5 peer-focus:text-white dark:peer-focus:text-neutral-500 peer-[:not(:placeholder-shown)]:scale-90 peer-[:not(:placeholder-shown)]:translate-x-0.5 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-white dark:peer-[:not(:placeholder-shown)]:text-white">
                    کد ارسال شده به ایمیل
                    </label>
          
          
                      </div>
                      <p class="text-red-600 text-[12px] relative right-[50px] mt-4" id="emailError">
                          {% if form.email.errors %}
                              {% for error in form.email.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          {% endif %}
                      </p>
                    
                      </div>
                    </div>
                </div>

              </div>
          {% endif %}

          <!-- Stage 3: Username and Password Input -->
          {% if stage == 3 %}
          <div class="my-5 gap-10 grid">
              <div>
                  <div class="flex items-end">
                      <span class="material-icons text-[45px] text-[#fca311] ml-1 relative top-[8px]">person</span>
                      <div class="relative border-b-[3px] border-white w-[480px]">
                          <input 
                              type="text" 
                              name="username"
                              class="username w-[350px] text-white peer py-4 px-0 block border-none bg-transparent border-t-transparent border-b-2 border-x-transparent text-sm"
                              placeholder="لطفا نام کاربری خود را وارد کنید"
                              required
                          />
                          <label 
                              for="username"
                              class="absolute top-[-10px] text-white">
                              نام کاربری
                          </label>
                      </div>
                  </div>
              </div>

              <div>
                  <div class="relative">
                      <div class="flex items-end">
                          <span class="material-icons text-[45px] text-[#fca311] ml-1 relative top-[2px]">lock</span>
                          <div class="flex justify-between items-center border-b-[3px] border-white w-[480px]">
                              <input 
                                  type="password" 
                                  name="password"
                                  class="text-white peer py-4 px-0 block w-full bg-transparent border-none"
                                  placeholder=""
                                  required
                              />
                              <label 
                                  for="password"
                                  class="top-[-10px] absolute text-white">
                                  رمز عبور
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}

          {% comment %} {% if messages %}
          <ul>
            {% for message in messages %}
              <li class="my-5 {{ message.tags }} text-red-600 mr-[50px]">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %} {% endcomment %}
          <!-- Navigation Buttons -->
          <div class="mt-20 items-center justify-evenly flex w-[100%]">
              {% if stage > 1 %}
              <!-- Previous Button -->
              <button 
                  type="submit" 
                  name="action" 
                  value="prev_stage" 
                  class=" prevBtn2 rounded-[18px] w-[187px] h-[58px] bg-[#fca311] text-[20px] font-bold py-[8px] px-12"
              >
                  قبلی
              </button>
              {% endif %}

              <!-- Next or Submit Button -->
              <button 
              type="submit" 
              name="action2" 
              value="next_stage"
              class="rounded-[18px] w-[187px] h-[58px] bg-[#fca311] text-[20px] font-bold py-[8px] px-12">
                  {% if stage < 3 %} بعدی {% else %} ثبت نام {% endif %}
              </button>
          </div>
      </form> 

      
      </div>

      <div
        class=" w-[50%]    flex justify-center items-senter"
      >
        <img src="{% static 'image/logo.png' %}" alt="" class="w-[407px]" />
      </div>
    </div>
  </body>
  
  <script>
    const iconEye = document.querySelector(".iconEye");
    const input = document.querySelector(".input");
  
    iconEye.addEventListener("click", () => {
      if (iconEye.textContent === "visibility") {
        iconEye.textContent = "visibility_off";
        input.type = "password";
      } else {
        iconEye.textContent = "visibility";
        input.type = "text";
      }
    });
  </script>
  <script>
    const usernameInput = document.querySelector(".username");
    const passInput = document.querySelector(".password");
    const emailInput = document.querySelector(".email");
    const codeEmailInput = document.querySelector(".email");

    const passError = document.getElementById("errorPass");
    const emailError=document.getElementById("errorEmail")
    const codeEmailError=document.getElementById("codeEmailError")
    const usernameError = document.getElementById("error");

    const nextBtn1=document.querySelector(".nextBtn1")
    const nextBtn2=document.querySelector(".nextBtn2")

    const prevPage=document.querySelector(".prevPage")
    
    const nextPage=document.querySelector(".nextPage")
    const pageCodeEmail=document.querySelector(".pageCodeEmail")
    const submitBtn=document.querySelector(".submitBtn")
   
    const prevBtn1=document.querySelector(".prevBtn1")
    const prevBtn2=document.querySelector(".prevBtn2")
      prevBtn1.addEventListener("click",()=>{
      pageCodeEmail.classList.add("hidden")
      prevPage.classList.remove("hidden")
      prevPage.classList.add("grid")
      prevBtn1.classList.remove("grid")
      prevBtn1.classList.add("hidden")

      nextBtn2.classList.remove("grid")
      nextBtn2.classList.add("hidden")

      nextBtn1.classList.remove("hidden")
      nextBtn1.classList.add("grid")
    })
    prevBtn2.addEventListener("click",()=>{
      nextPage.classList.remove("grid")
      nextPage.classList.add("hidden")
      
      pageCodeEmail.classList.remove("hidden")
      pageCodeEmail.classList.add("grid")
      prevBtn2.classList.remove("grid")
      prevBtn2.classList.add("hidden")

      prevBtn1.classList.remove("hidden")
      prevBtn1.classList.add("grid")

      nextBtn2.classList.remove("hidden")
      nextBtn2.classList.add("grid")

      submitBtn.classList.remove("flex");
      submitBtn.classList.add("hidden");

    })
    if (usernameInput) {
            usernameInput.addEventListener("input", function () {
            if (usernameError) {
              usernameError.style.display = "none";

                usernameError.textContent("")
            }
        });
    } 
    if (passInput) {
            passInput.addEventListener("input", function () {
            if (passError) {
                passError.style.display = "none";
            }
        });
    } 
    if (emailInput) {
      emailInput.addEventListener("input", function () {
            if (emailError) {
              emailError.style.display = "none";
            }
        });
    }
    if (codeEmailInput) {
      codeEmailInput.addEventListener("input", function () {
            if (codeEmailError) {
              codeEmailError.style.display = "none";
            }
        });
    }
    nextBtn1.addEventListener("click", () => {
        const email = emailInput.value.trim();
        // const codeemail = codeEmailInput.value.trim();
        console.log(codeEmailInput);
        
        let isValid = true;
        if (!email) {
            if (emailError) {
                emailError.style.display = "block";
                // emailError.textContent = "نام کاربری نمی‌تواند خالی باشد!";
            }
            isValid = false;
        }
        // if (!codeemail) {
        //     if (codeEmailError) {
        //       codeEmailError.style.display = "block";
        //         // codeEmailError.textContent = "رمز عبور نمی‌تواند خالی باشد!";
        //     }
        //     isValid = false;
        // }
        if (isValid) {
            prevPage.classList.add("hidden");
            pageCodeEmail.classList.remove("hidden")
            pageCodeEmail.classList.add("grid")
            // nextPage.classList.remove("hidden");
            // nextPage.classList.add("grid");
            // nextBtn1.classList.add("hidden");
            // submitBtn.classList.remove("hidden");
            // submitBtn.classList.add("grid");
            prevBtn1.classList.remove("hidden");
            prevBtn1.classList.add("grid");
            nextBtn1.classList.remove("grid")
            nextBtn1.classList.add("hidden")
            nextBtn2.classList.remove("hidden")
            nextBtn2.classList.add("grid")

        }
    });
    nextBtn2.addEventListener("click", () => {
        // const email = emailInput.value.trim();
        const codeemail = codeEmailInput.value.trim();
      
        if (!codeemail) {
            if (codeEmailError) {
              codeEmailError.style.display = "block";
                // codeEmailError.textContent = "رمز عبور نمی‌تواند خالی باشد!";
            }
            isValid = false;
        }
        if (true) {
            pageCodeEmail.classList.remove("grid");
            pageCodeEmail.classList.add("hidden");
            nextPage.classList.remove("hidden");
            nextPage.classList.add("grid");
            nextBtn2.classList.remove("grid");
            nextBtn2.classList.add("hidden");
            submitBtn.classList.remove("hidden");
            submitBtn.classList.add("flex");
            prevBtn1.classList.remove("grid");
            prevBtn1.classList.add("hidden");
            prevBtn2.classList.remove("hidden");
            prevBtn2.classList.add("grid");
        }
    });
 

 </script>

  <script src="{% static 'js/index.js' %}"></script>
</html>
